@font-face{
	font-family: simplifica;
	src: url(simplifica.ttf);
}

@font-face{
	font-family: bitterr;
	src: url(bitterr.otf);
}

@font-face{
	font-family: bitterb;
	src: url(bitterb.otf);
}

.banner {
	height: 499px;
	width: 100px;
} .banner img {
	height: 499px;
	width: 665px;
	padding-top: 400px;
} .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imgblur, .imgblur1, .imgblur2, .imgblur3 {
	position: relative;
	height: 50px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	display: block;
	width: 100%;
}

.imgblur1 {
	background-image: url('blur1.jpg');
} .imgblur2 {
	background-image: url('blur2.jpg');
} .imgblur3 {
	background-image: url('blur3.jpg');
} .imgblur {
	background-image: url('rhythmcoin.jpg');
	height: 400px;
} 

body {
	font-family: bitterr;
	margin: 0px;
	background-color: rgb(125, 25, 45);
	color: rgb(240, 225, 228);
	margin-top: -100px;
	margin-bottom: 50px;
}


.sectionOuter {
	height: 100%;
} .section {
	padding: 10px 5% 5px 5%;
} .section h2, .section p {
	margin: 0px;
	/**/
	vertical-align: bottom;
	line-height: 28px;
	margin-top: 10px;
} .section h2 {
	font-weight: bold;
	display: inline-block;
	width: 9%;
} .section p {
	text-align: justify;
    text-align-last: right;
	float: right;
	display: block;
	width: 70%;
	font-size: 14pt;
	margin-bottom: 10px;
}

.galleryContainer {
	width: 1310px;
	margin: 0 auto;
	padding-top: 10px;
} .gallery {
	margin: 3px;
	float: left;
	width: 250px;
	height: 225px;
} .gallery img {
	border-radius: 2%;
	width: 235px;
	height: 200px;
	object-fit: cover;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
} .gallery p {
	padding: 0px;
	text-align: center;
	text-justify: none;
	float: inherit;
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin-top: 4px;
}

a {
	color: inherit;
	font-style: italic;
}